hmtl
    head
        title="Productos"
    body
        h1="Lista de Productos"
        ul 
            each product in productos
                li
                    div 
                        p=product.title 
                        p=product.price
                        img(src=product.thumbnail)
        
    